@font-face {
    font-family: "SofiaRegular";
    src: url("fonts/SofiaProRegular.ttf") format("truetype");
}

body {
  margin: 0px;
  background-color: #c5faf4;
  background-color: black;
}

h1 {
	font-family: Copperplate, Arial;
  font-size: 3em;
  color: white;
}

.numberOfImages {
  color: white;
  position: absolute;
  margin-top: -1.5em;
  font-family: SofiaRegular;
}

form {
  color: white;
}

.titleDiv, .svgDiv {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.sphere {
  fill: #c5faf4;
  fill: black;
}

.country {
  fill: #a1a1a1;
  fill: black;
  fill: #c5faf4;
  stroke: black;
  stroke-width: 0.1;
  overflow: hidden;
}

svg {
  width: 100%;
  height: 100%;
}

.imageDiv {
  fill: white;
	stroke: white;
  stroke-width: .5;
  width: 100%;
  height: 100%;
}

.images {
  width: 2em;
  height: 2em;
  mix-blend-mode: luminosity;
  mix-blend-mode: darken;
}

.images:hover {
  mix-blend-mode: normal;
  cursor: pointer;
  position: absolute;
}

.detailsDiv {
	background-color: rgba(0,0,0,0.5);
  position: absolute;
  max-width: 25%;
  position: fixed;
  font-family: SofiaRegular;
}

.DetailsTekst {
  color: white;
  margin: 40px;
}

.DetailsImg {
  width: 100%;
}

.select-css {
    display: block;
    font-family: Copperplate, Arial;
    font-size: 2em;
    color: white;
    border: 1px solid white;
    padding: .6em 0.2em .5em .8em;
    //width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    right: 0;
    bottom: 0;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border: 1px solid transparent;
    background-color: rgba(197,250,244,1);
    color: black;
}
.select-css option {
    font-weight:normal;
}
